<h1>Sass functions</h1>

<button class="n-btn">Check</button>

<div class="n-input n-input__has-btn">
	<button class="n-input--btn n-btn">Check</button>
	<input id="inputName" name="inputName" title="Input description" type="text" class="n-input--field">
	<label for="inputName" class="n-input--label">Input label</label>
</div>

<div class="n-input n-input__has-btn n-input__inline">
	<button class="n-input--btn n-btn">Check</button>
	<input id="inputName" name="inputName" title="Input description" type="text" class="n-input--field">
	<label for="inputName" class="n-input--label">Input label</label>
</div>