<h1>Sass functions</h1>

<button class="n-btn">Check</button>

<div class="n-input n-input__has-action">
	<label for="inputName" class="n-input--label">Input label</label>
	<div class="n-input--action-group">
		<input id="inputName" name="inputName" title="Input description" type="text" class="n-input--field">
		<button class="n-input--btn n-btn">Check 1</button>
		<button class="n-input--btn n-btn">Check 2</button>
	</div>
</div>

<div class="n-input n-input__has-action n-input__inline">
	<label for="inputName" class="n-input--label">Input label</label>
	<div class="n-input--action-group">
		<input id="inputName" name="inputName" title="Input description" type="text" class="n-input--field">
		<button class="n-input--btn n-btn">Check 1</button>
		<button class="n-input--btn n-btn">Check 1</button>
		<button class="n-input--btn n-btn">Check 2</button>
	</div>
</div>

<div class="n-input">
	<label for="inputName" class="n-input--label">Input label</label>
	<input id="inputName" name="inputName" title="Input description" type="text" class="n-input--field">
</div>

<div class="n-input n-input__inline">
	<label for="inputName" class="n-input--label">Input label</label>
	<input id="inputName" name="inputName" title="Input description" type="text" class="n-input--field">
</div>