<form [formGroup]="numberOfColorsForm">
	<div class="n-input">
		<div class="n-radio">
			<input formControlName="numberOfColors" id="singleColor" class="n-radio--toggle" type="radio" value="singleColor" [checked]="true">
			<label for="singleColor" class="n-radio--toggle-icon">Single Color</label>
		</div>
		<div class="n-radio">
			<input formControlName="numberOfColors" id="twoColor" class="n-radio--toggle" type="radio" value="twoColor">
			<label for="twoColor" class="n-radio--toggle-icon">Two Color</label>
		</div>
	</div>
</form>

<form class="color-selection" [formGroup]="colorForm">
	<div class="n-input color-input">
		<label class="n-input--label">Main</label>
		<select #mainColorInput class="n-input--field" formControlName="colorMain">
			<option *ngFor="let color of colors" [ngValue]="color">{{color.name}}</option>
		</select>
	</div>
	<div class="n-input color-input"
		 *ngIf="numberOfColorsForm.controls.numberOfColors.value == 'twoColor'">
		<label class="n-input--label">Accent</label>
		<select #accentColorInput class="n-input--field" formControlName="colorAccent">
			<option *ngFor="let color of colors" [ngValue]="color">{{color.name}}</option>
		</select>
	</div>
</form>

<div class="visualizer">

	<div class="colors">
		<div class="color color--main {{colorForm.controls.colorMain.value.class}}"
			 (click)="focusMainColorInput()"></div>
		<div class="color color--accent {{colorForm.controls.colorAccent.value.class}}"
			 *ngIf="numberOfColorsForm.controls.numberOfColors.value == 'twoColor'"
			 (click)="focusAccentColorInput()"></div>
	</div>

</div>

<div class="visualizer-data">
	<div class="n-data n-data__clickable"
		 *ngIf="colorForm.controls.colorMain.value"
		 (click)="focusMainColorInput()">
		<div class="n-data-group">
			<div class="n-text-bold">{{colorForm.controls.colorMain.value.name}}</div>
			<div class="n-text-small n-fade">{{colorForm.controls.colorMain.value.filament}}</div>
		</div>
		<div class="n-data-group">
			<div class="n-text-right n-text-small">
				<span class="n-fade">Main</span><div class="swatch {{colorForm.controls.colorMain.value.class}}"></div>
			</div>
			<div class="n-text-right n-text-bold">{{colorForm.controls.colorMain.value.price | currency:'USD':true:'1.2-2'}}</div>
		</div>
	</div>
	<div class="n-data n-data__clickable"
		 *ngIf="colorForm.controls.colorAccent.value && numberOfColorsForm.controls.numberOfColors.value == 'twoColor'"
		 (click)="focusAccentColorInput()">
		<div class="n-data-group">
			<div class="n-text-bold">{{colorForm.controls.colorAccent.value.name}}</div>
			<div class="n-text-small n-fade">{{colorForm.controls.colorAccent.value.filament}}</div>
		</div>
		<div class="n-data-group">
			<div class="n-text-right n-text-small">
				<span class="n-fade">Accent</span><div class="swatch {{colorForm.controls.colorAccent.value.class}}"></div>
			</div>
			<div class="n-text-right n-text-bold">{{colorForm.controls.colorAccent.value.price | currency:'USD':true:'1.2-2'}}</div>
		</div>
	</div>
	<div class="n-data n-data__alternate"
		 *ngIf="colorForm.controls.colorMain.value && colorForm.controls.colorAccent.value">
		<div class="n-data-group">
			<div class="n-text-left">
				<button class="n-btn n-btn__primary">Add to cart</button>
			</div>
		</div>
		<div class="n-data-group">
			<div class="n-text-right n-text-small">
				<span *ngIf="numberOfColorsForm.controls.numberOfColors.value == 'singleColor'">
					Total: {{colorForm.controls.colorMain.value.price | currency:'USD':true:'1.2-2'}}
				</span>
				<span *ngIf="numberOfColorsForm.controls.numberOfColors.value == 'twoColor'">
					Total: {{colorForm.controls.colorMain.value.price + colorForm.controls.colorAccent.value.price | currency:'USD':true:'1.2-2'}}
				</span>
			</div>
		</div>
	</div>
</div>