<form class="color-selection" [formGroup]="colorForm" (ngSubmit)="updateVisualizer(color)">
	<div class="n-input color-input">
		<label class="n-input--label">Main</label>
		<select #mainColorInput class="n-input--field" formControlName="colorMain">
			<option *ngFor="let color of colors" [ngValue]="color">{{color.name}}</option>
		</select>
	</div>
	<div class="n-input color-input">
		<label class="n-input--label">Accent</label>
		<select #accentColorInput class="n-input--field" formControlName="colorAccent">
			<option *ngFor="let color of colors" [ngValue]="color">{{color.name}}</option>
		</select>
	</div>
	<div [hidden]="true">
		<button class="n-btn" type="submit">Submit</button>
		<button class="n-btn" (click)="resetVisualizer()">Reset</button>
	</div>
</form>

<div class="visualizer">

	<div class="colors">
		<div class="color color--main {{colorForm.controls.colorMain.value.class}}"
			 (click)="focusMainColorInput()"></div>
		<div class="color color--accent {{colorForm.controls.colorAccent.value.class}}"
			 (click)="focusAccentColorInput()"></div>
	</div>

</div>

<div class="visualizer-data">
	<div class="n-data n-data__clickable"
		 *ngIf="colorForm.controls.colorMain.value"
		 (click)="focusMainColorInput()">
		<div class="n-data-group">
			<div class="n-text-bold">{{colorForm.controls.colorMain.value.name}}</div>
			<div class="n-text-small n-fade">{{colorForm.controls.colorMain.value.filament}}</div>
		</div>
		<div class="n-data-group">
			<div class="n-text-right n-text-small n-fade">Main color</div>
			<div class="n-text-right n-text-bold">{{colorForm.controls.colorMain.value.price | currency:'USD':true:'1.2-2'}}</div>
		</div>
	</div>
	<div class="n-data n-data__clickable"
		 *ngIf="colorForm.controls.colorAccent.value"
		 (click)="focusAccentColorInput()">
		<div class="n-data-group">
			<div class="n-text-bold">{{colorForm.controls.colorAccent.value.name}}</div>
			<div class="n-text-small n-fade">{{colorForm.controls.colorAccent.value.filament}}</div>
		</div>
		<div class="n-data-group">
			<div class="n-text-right n-text-small n-fade">Accent color</div>
			<div class="n-text-right n-text-bold">{{colorForm.controls.colorAccent.value.price | currency:'USD':true:'1.2-2'}}</div>
		</div>
	</div>
	<div class="n-data n-data__alternate"
		 *ngIf="colorForm.controls.colorMain.value && colorForm.controls.colorAccent.value">
		<div class="n-data-group">
			<div class="n-text-left">
				<button class="n-btn n-btn__primary">Add to cart</button>
			</div>
		</div>
		<div class="n-data-group">
			<div class="n-text-right n-text-small">
				Total: {{colorForm.controls.colorMain.value.price + colorForm.controls.colorAccent.value.price | currency:'USD':true:'1.2-2'}}
			</div>
		</div>
	</div>
</div>