@import '../../../styles/variables';

.visualizer {
	display: flex;
	justify-content: center;

	position: relative;
	top: 25vh;
}

.visualizer-data {
	position: fixed;
	bottom: 0;
	width: 100%;

	background-color: color(gray, 900);
	font-family: monospace;
}

.colors {
	position: relative;
}

.color {
	width: 4em;
	height: 4em;

	border-radius: 50%;

	background-color: color(default, 500);
	box-shadow: 0 0 15px color(default, 200);

	transition: .25s ease;
	cursor: pointer;

	&:hover:before {
		position: absolute;
		right: -6.25em;

		padding: .25em;
		border-radius: .2em;

		content: '';
		font-family: $family-sans-serif;
		font-size: .8em;
		text-align: right;
		background-color: color(default, 500);
		color: color(gray, 1000);

	}
	&--option-1:hover:before { content: 'Main color'; }
	&--option-2 {
		position: absolute;
		top: 2.25em;
		left: 2.25em;
		&:hover:before { content: 'Accent color'; }
	}
}

.color {
	&__roseRed {
		box-shadow: 0 0 15px lighten(#D32F2F, 30%);
		background-color: #D32F2F;
	}
	&__deepPurple {
		box-shadow: 0 0 15px lighten(#4A148C, 30%);
		background-color: #4A148C;
		}
	&__aquaGreen {
		box-shadow: 0 0 15px lighten(#69F0AE, 30%);
		background-color: #69F0AE;
	}
}