.n-data {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: $padding-base;

	background-color: color(default, 500);
	color: color(gray, 1000);
	font-family: $family-sans-serif;
	&__alternate {
		background-color: color(default, 400);
	}
	&__clickable:hover {
		cursor: pointer;
		background-color: color(default, 300);
	}
}

.n-data-group {
	width: 100%;
}