.n-text-right { text-align: right; }
.n-text-left { text-align: left; }

.n-text-small { font-size: .85em; }

.n-text-bold { font-weight: 600; }
.n-text-uppercase { text-transform: uppercase; }

.n-fade { opacity: .6; }