.n-btn {
	padding: $button-padding;
	background-color: color(default, 500);
	border: $border-size-base solid color(default, 500);
	border-radius: $button-border-radius;
	color: color(gray, 1000);
	font-weight: 500;
	transition: .25s ease;
	cursor: pointer;

	&:hover, &:focus {
		background-color: color(default, 400);
		border: $border-size-base solid color(default, 400);
	}
	&:focus { outline: none; }
}

.n-btn-group {
	display: flex;
	align-self: stretch;
	.n-btn {
		width: 100%;
		border-radius: 0;
	}
	.n-btn:first-of-type { border-radius: $border-radius-base 0 0 $border-radius-base; }
	.n-btn:last-of-type { border-radius: 0 $border-radius-base $border-radius-base 0; }
}

// icons
.n-btn .material-icons {
	font-size: 1em;
	position: relative;
	top: .15em;
}

@each $color in $color-list {
	.n-btn__#{$color} {
		background-color: color(#{$color}, 500);
		border: $border-size-base solid color(#{$color}, 500);
		&:hover, &:focus {
			background-color: color(#{$color}, 400);
			border: $border-size-base solid color(#{$color}, 400);
		}
	}
}