.n-btn {
	padding: $button-padding;
	background-color: color(default, 500);
	border: $border-size-base solid color(default, 500);
	border-radius: $button-border-radius;
	color: color(gray, 1000);
	font-weight: 500;
	transition: .25s ease;

	&:hover {
		cursor: pointer;
		background-color: color(default, 400);
		border: $border-size-base solid color(default, 400);
	}
}

@each $color in $color-list {
	.n-btn__#{$color} {
		background-color: color(#{$color}, 500);
		border: $border-size-base solid color(#{$color}, 500);
		&:hover {
			background-color: color(#{$color}, 400);
			border: $border-size-base solid color(#{$color}, 400);
		}
	}
}