body {
	font-family: $family-serif;
	font-size: $font-size-base;
}

h1, h2, h3, h4 {
	font-family: $family-sans-serif;
}

h3 {
	color: color(gray, 500);
}

button {
	font-family: $family-sans-serif;
}