// ** Colors **
// ------------------

	// Color Base
	$color-primary: #0e9cf3;
	$color-default: #24242e;
	$color-danger:  #fd4f48;

	$color-list: primary default danger;

	// Color Function
	@function color($color, $variant) {
		@return map-get(map-get($colors, $color), $variant);
	}
	// ex. color(gray, 500);

	// Color Map
	$colors: (
		primary: (
			alternate: saturate(adjust-hue($color-primary, -15deg), 100%),
			200: lighten($color-primary, 30%),
			300: lighten($color-primary, 20%),
			400: lighten($color-primary, 10%),
			500: $color-primary,
			600: darken($color-primary, 10%),
			700: darken($color-primary, 20%),
			800: darken($color-primary, 30%)
		),
		default: (
			alternate: saturate(adjust-hue($color-default, -25deg), 50%),
			200: lighten($color-default, 30%),
			300: lighten($color-default, 20%),
			400: lighten($color-default, 10%),
			500: $color-default,
			600: darken($color-default, 10%),
			700: darken($color-default, 20%),
			800: darken($color-default, 30%)
		),
		danger: (
			alternate: saturate(adjust-hue($color-danger, -15deg), 100%),
			200: lighten($color-danger, 30%),
			300: lighten($color-danger, 20%),
			400: lighten($color-danger, 10%),
			500: $color-danger,
			600: darken($color-danger, 10%),
			700: darken($color-danger, 20%),
			800: darken($color-danger, 30%)
		),

		gray: (
			0:    hsl(0, 0%, 0%),
			100:  hsl(0, 0%, 10%),
			250:  hsl(0, 0%, 25%),
			500:  hsl(0, 0%, 50%),
			750:  hsl(0, 0%, 75%),
			900:  hsl(0, 0%, 90%),
			1000: hsl(0, 0%, 100%)
		)
	);

	//Gradient Function
	@function gradient($color) {
		@return map-get($gradients, $color);
	}

	//Gradient Map
	$gradients: (
		primary:   (linear-gradient(2.5deg, color(primary, 500), color(primary, alternate))),
		default:   (linear-gradient(2.5deg, color(default, 500), color(default, alternate))),
		danger:   (linear-gradient(2.5deg, color(danger, 500), color(danger, alternate)))
	);

// ** Base **
// ------------------

	// Padding
	$padding-base: .5em;

	// Margin
	$margin-base: .5em;

	// Borders
	$border-size-base:	 .1em;
	$border-radius-base: .2em;

	//Type
	$font-size-base:	16px;
	$family-serif:		'Droid Serif', serif;
	$family-sans-serif: 'Roboto', sans-serif;

// ** Components **
// ------------------

	// Button
	$button-padding:	   ($padding-base * 2);
	$button-border-size:   $border-size-base;
	$button-border-radius: $border-radius-base;